@model FiveBeachStore.Models.TbConfig

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>TbConfig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SiteName" class="control-label"></label>
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metakey" class="control-label"></label>
                <input asp-for="Metakey" class="form-control" />
                <span asp-validation-for="Metakey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metadesc" class="control-label"></label>
                <input asp-for="Metadesc" class="form-control" />
                <span asp-validation-for="Metadesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Youtube" class="control-label"></label>
                <input asp-for="Youtube" class="form-control" />
                <span asp-validation-for="Youtube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Googleplus" class="control-label"></label>
                <input asp-for="Googleplus" class="form-control" />
                <span asp-validation-for="Googleplus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

