@model FiveBeachStore.Models.TbCategory

@{
    ViewData["Title"] = "CHỈNH SỬA DANH MỤC SẢN PHẨM";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>CHỈNH SỬA DANH MỤC SẢN PHẨM</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="AdminCategory" asp-action="Index">
                            <i class="fas fa-arrow-circle-left">
                            </i>
                            Quay về
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Chỉnh sửa danh mục sản phẩm</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                                        <label asp-for="Name">Name</label>
                                        <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slug">Slug</label>
                            <input asp-for="Slug" type="text" class="form-control" placeholder="Slug">
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ParentId">ParentId</label>
                            <input asp-for="ParentId" type="text" class="form-control" placeholder="ParentId">
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SortOrder">SortOrder</label>
                            <input asp-for="SortOrder" type="text" class="form-control" placeholder="SortOrder">
                            <span asp-validation-for="SortOrder" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Level">Level</label>
                            <select asp-for="Status" class="form-control custom-select">
                                <span asp-validation-for="Level" class="text-danger"></span>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input asp-for="Image" class="form-control" placeholder="Image" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Metakey">Metakey</label>
                            <textarea asp-for="Metadesc" type="text" class="form-control" rows="4" placeholder="Metakey"></textarea>
                            <span asp-validation-for="Metadesc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                        <label asp-for="Metadesc">Mô tả</label>
                                        <textarea asp-for="Metadesc" type="text" class="form-control" rows="4" placeholder="Mô tả"></textarea>
                                        <span asp-validation-for="Metadesc" class="text-danger"></span>
                                    </div>
                       
           
                        <div class="form-group">
                            <label asp-for="CreatedAt" class="control-label">CreatedAt</label>
                            <input asp-for="CreatedAt" class="form-control" placeholder="CreatedAt" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreatedBy" class="control-label">CreatedBy</label>
                            <input asp-for="CreatedBy" class="form-control" placeholder="CreatedBy" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UpdatedAt" class="control-label">UpdatedAt</label>
                            <input asp-for="UpdatedAt" class="form-control" placeholder="UpdatedAt" />
                            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UpdatedBy" class="control-label">UpdatedBy</label>
                            <input asp-for="UpdatedBy" class="form-control" placeholder="UpdatedBy" />
                            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                                        <label asp-for="Status">Status</label>
                                        <select asp-for="Status" class="form-control custom-select">
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                            <option selected disabled>@Model.Status</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                        <div class="form froup">
                                    <div class="col-12">
                                        <a class="btn btn-secondary" asp-area="Admin" asp-controller="AdminCategory" asp-action="Index">Cancel</a>
                                        <input type="submit" value="Lưu" class="btn btn-success float-right">
                                    </div>
                                </div>
                        </form>                    
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>

