
@{
    ViewData["Title"] = "TẤT CÁ SẢN PHẨM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container contact_container">
	<div class="row">
		<div class="col">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>TẤT CẢ SẢN PHẨM</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>

