
@{
    ViewData["Title"] = "THÔNG TIN LIÊN HỆ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container contact_container">
	<div class="row">
		<div class="col">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-action="Index">Home</a></li>
					<li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>THÔNG TIN LIÊN HỆ</a></li>
				</ul>
			</div>

		</div>
	</div>

	<!-- Map Container -->

	<div class="row">
		<div class="col">
			<div id="google_map">
				<div class="map_container">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact Us -->

	<div class="row">

		<div class="col-lg-6 contact_col">
			<div class="contact_contents">
				<h1>Liên hệ chúng tôi</h1>
				<p>Có nhiều cách để liên hệ với chúng tôi. Bạn có thể liên hệ với chúng tôi, gọi điện hoặc gửi email cho chúng tôi, chọn những gì phù hợp với bạn nhất.</p>
				<div>
					<p>(+84)349-554-559</p>
					<p>xuannghia.04031999@gmail.com</p>
				</div>
				<div>
					<p>Giờ mở cửa: 8.00-18.00 Thứ Hai-Thứ Sáu</p>
					<p>Chủ Nhật: Đóng cửa</p>
				</div>
			</div>

			<!-- Follow Us -->

			<div class="follow_us_contents">
				<h1>Follow Us</h1>
				<ul class="social d-flex flex-row">
					<li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>

		</div>

		<div class="col-lg-6 get_in_touch_col">
			<div class="get_in_touch_contents">
				<h1>Hãy liên hệ với chúng tôi!</h1>
				<p>Điền vào mẫu dưới đây để nhận được quà miễn phí và bí mật.</p>
				<form action="post">
					<div>
						<input id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="Name" required="required" data-error="Name is required.">
						<input id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="Valid email is required.">
						<input id="input_website" class="form_input input_website input_ph" type="url" name="name" placeholder="Website" required="required" data-error="Name is required.">
						<textarea id="input_message" class="input_ph input_message" name="message" placeholder="Message" rows="3" required data-error="Please, write us a message."></textarea>
					</div>
					<div>
						<button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">send message</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>

